@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Josefin+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    color: #fafafa;
    background-color: #2F4858;
    

}

/* heading and logo*/

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fafafa;
}

#logo {
    float: left;
    font-size: 300%;
    margin: 5px 0 0 20px;
}

/* navigation and links*/

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px 50px 0 0;
    border: 2px solid #fafafa;
    border-end-start-radius: 10% 10%;
    padding: 1.2rem;
    
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    color: #C80663;
}

.active {
    border-bottom: 3px solid #C80663;
}

/* hero image and cover message */

#hero-image{
    clear: both;
    height: 400px;
    width: 100%;
    background: url('../images/dnd_icewind-pic.webp') no-repeat center center;
    padding-top: 10px;
    border: 1px solid #fafafa;
    border-radius: 5% 5%;
}

#cover-text{
    height: 75px;
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 140%;
    background-color: rgba(200, 6, 99, 0.6);
    border-radius: 5%;
    text-align: center;
    margin-right: 50px;
    float: right;
    position: relative;
    animation: slide-left 3.5s;
}

#workshop-shortcut{
    color: gold;}  

    @keyframes slide-left {
        0%   {right: 350px;}
        100% {right: 0px;}
      }