@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Josefin+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    color: #fafafa;
    background-color: #2F4858;
    

}

/* heading and logo*/

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fafafa;
}

#logo {
    float: left;
    font-size: 350%;
    margin: 5px 0 0 20px;
    border-bottom: 3px solid #C80663;
    position: absolute;
}

/* navigation and links*/

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px 50px 0 0;
    border: 2px solid #fafafa;
    border-end-start-radius: 15% 15%;
    padding: 1.2rem;
    
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    color: #C80663;
}

.active {
    border-bottom: 3px solid #C80663;
}

/* hero image and cover message */

#hero-image{
    clear: both;
    height: 350px;
    width: 100%;
    background: url('../images/dnd_icewind-pic.webp') no-repeat center center;
    padding-top: 10px;
    border: 1px solid #fafafa;
    border-radius: 5% 5%;
}

#cover-text{
    height: 85px;
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 165%;
    background-color: rgba(200, 6, 99, 0.82);
    border-radius: 5%;
    text-align: center;
    margin-right: 75px;
    float: right;
    position: relative;
    bottom: 120px;
    animation: slide-left 3s;
}

#workshop-shortcut{
    color: gold;}  

/* Keyframe - animation */

@keyframes slide-left {
        0%   {right: 350px;}
        100% {right: 0px;}
      }

/* workshop badges section */

#workshop-container {
    width: 100%;
    height: 200px;
}

.workshop-badge {
    height: 250px;
    width: 250px;
    border: 7px solid #C80663;
    border-radius: 50%;
    text-align: center;
    
}

div h2 {
    border-bottom: 3px solid gold;
    top: 15%;
    position: relative;
    font-size: 200%
}

#badge-right {
    position: relative;
    float: right;
    bottom: 263px; /* NEED TO FIX THIS - MOVING ON FOR NOW */
}

#badge-left {
    float: left;
    
}

#margin-auto{
    margin: 0 auto
}

.badge-info {
    top: 20%;
    position: relative;
    font-size: 150%;
}

/*  Footer and iframe */
footer {
    height: 325px;
    border: 3px solid #fafafa;
    border-radius: 12% 12%;
    text-align: center;
    background-color: rgba(200, 6, 99, 0.5);
    clear: both;
}

.footer-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    padding: 5px 0;
}
.social-media > li {
    display: inline;
    margin: 0 12rem;
    
}

.social-media i {
    font-size: 250%;
    color: #fafafa;
    padding-top: 1rem;
}