@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    color: #fafafa;
    background-color: #2F4858;

}

/* heading and logo*/

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fafafa;
}

#logo {
    float: left;
    font-size: 350%;
    margin: 5px 0 0 20px;
    border-bottom: 3px solid #C80663;
}

/* navigation and links*/

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px 40px 10px 0;
    border: 2px solid #fafafa;
    border-end-start-radius: 15% 15%;
    padding: 1.2rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #C80663;
}

.active {
    border-bottom: 3px solid #C80663;
}

/* hero image and cover message */

#hero-image {
    clear: both;
    height: 350px;
    background: url('../../images/dnd_icewind-pic.webp') no-repeat center center;
    padding-top: 10px;
    border: 1px solid #fafafa;
    border-radius: 3em;
}

#cover-text {
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 165%;
    background-color: rgba(200, 6, 99, 0.82);
    border-radius: 5%;
    text-align: center;
    margin-right: 75px;
    float: right;
    position: relative;
    bottom: 110px;
    animation: slide-left 3s;
}

.shortcut {
    color: gold;
}

/* Keyframe - animation */

@keyframes slide-left {
    0% {
        right: 350px;
    }

    100% {
        right: 0px;
    }
}

/* workshop badges section */

#workshop-badge-container {
    height: 300px;
    width: 100%;
    display: flex;
    position: relative;
    bottom: 25px;
    justify-content: space-between;
}

.workshop-badge {
    height: 275px;
    width: 275px;
    border: 12px solid #C80663;
    border-radius: 50%;
    text-align: center;
}

div h2 {
    border-bottom: 3px solid gold;
    top: 15%;
    position: relative;
    font-size: 200%
}

h2 a {
    text-decoration: none;
    color: #fafafa;
}

.badge-info {
    top: 20%;
    position: relative;
    font-size: 150%;
}

/* Company Info */

#description-container {
    text-align: center;
    font-size: 170%;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    margin: 3rem 7rem;
}

#dnd-logo {
    font-size: 150%;
    color: rgba(200, 6, 99, 0.75);
}

/* Workshop Page */

.workshop-container {
    height: 300px;
    font-size: 160%;
    padding-top: 5%;
    clear: both;
    margin: 1.2rem;
    display: flex;
    flex-direction: row;
}

article h2 {
    font-size: 180%;
    border-bottom: 2px solid gold;
    top: 0%;
}

article >  p {
    font-family: 'Josefin Sans', sans-serif;
}

.bullet-style {
    list-style-type: circle;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    width: 70%;
    margin-left: 1rem;
}

.workshop-info {
    width: 80%
}

.video {
    aspect-ratio: 16 / 9;
    position: relative;
}

#form-heading {
    border: none;
}

/* Join In Page */

form {
    clear: both;
    height: 450px;
    padding-top: 2rem;
    text-align: center;
    font-size: 160%;
}

form h2 {
    color: gold;
    text-align: center;
    font-size: 300%;
}

form p {
    border-bottom: 2px dashed gold;
    margin-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 5px;
}

form h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1rem;
}


.text-input {
    background: transparent;
    border-bottom: 1px solid #fafafa;
    font-size: 90%;
    text-align: center;
}

::placeholder {
    color: rgba(200, 6, 99, 0.8)
}

.workshop-choice{
    margin-top: 2rem;
}

.radio-text{
    font-size: 110%;
    letter-spacing: 3px;
    padding: 1.5em 0.6em;
}

.text-label {
    border: none;
    letter-spacing: 1px;
}

.personal-info {
    padding-top: 0.5rem;
}

#beginner-label {
    color: #C80663;
}

#advanced-label {
    color: gold;
}

#form-button {
    font-size: 100%;
    color: #fafafa;
    background-color: #C80663;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20%;
    margin-top: 1rem;
    padding: 15px;
    box-shadow: 3px 4px #fafafa;
}

#form-button :hover {
    color: gold;
}

/* Thank you page */

.thank-you {
    clear:both;
    font-size: 150%;
    text-align: center;
    height: 80px;
    border-radius: 10%;
    padding-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}


.image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}



/*  Footer  */
footer {
    height: 350px;
    width: auto;
    border: 3px solid #fafafa;
    border-radius: 4em;
    text-align: center;
    background-color: rgba(200, 6, 99, 0.5);
    margin-top: 50px;
    clear: both;
}

.footer-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
    padding: 10px;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.social-media > li {
    padding: 0 10%;
    list-style-type: none;
}

.social-media i {
    font-size: 250%;
    color: #fafafa;
    padding-top: 1rem;
}

#map {
    height: 115px;
    width: 60%;
}

/* Media Quieres for large and medium sized screens */

@media screen and (max-width: 1200px) {

    .workshop-container {
        height: 350px;
    }

    #cover-text {
        bottom: 130px;
        width: 40%;
    }
}

@media screen and (max-width: 1070px) {

    #menu {
        clear: both;
}

     .workshop-container {
    height: 420px;
    text-align: center;
}

      .bullet-style {
    margin-left: 2rem;
    width: 90%;
}

      .video {
    top: 10px;
    left: 5px;
}

}

@media screen and (max-width: 1000px) {

    .workshop-container {
        display: flex;
        flex-direction: column;
        height: 550px;
    }

    .workshop-info {
        width: 100%;
    }

    #form-height {
        height: 500px;
    }

}

@media screen and (max-width: 900px) {

    #workshop-badge-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1000px;
        bottom: 75px;
    }

    .workshop-badge {
        margin-bottom: 30px;
    }

    #description-container {
        bottom: 75px;
        position: relative;
    }
    
}

/* Media Queries for tablets and smaller screens */

@media screen and (max-width: 850px) {
    #cover-text {
        bottom: 140px;
        width: 55%;
    }

    .workshop-container {
        display: flex;
        flex-direction: column;
        height: 700px;
    }
}

@media screen and (max-width: 650px) {
    #menu {
        font-size: 110%;
    }

    #menu li {
        padding: 0.8rem;
    }

    #cover-text {
        width: 45%;
        font-size: 140%;
    }

    #logo {
        font-size: 300%;
    }

    #form-height {
        height: 600px;
    }
}

@media screen and (max-width: 550px) {

    #menu {
        font-size: 100%;
    }

    #menu li {
        margin-right: 20px;
        padding: 0.6rem;
    }

    #cover-text {
        font-size: 120%;
        margin-right: 25px;
    }

    #description-container {
        font-size: 150%;
        margin: 3rem 3rem;
    }

    .workshop-container {
        display: flex;
        flex-direction: column;
        height: 750px;
    }

    .video {
        width: 90%;
    }

    .social-media i {
        font-size: 200%;
        padding-top: 0.5rem;
    }
    
}

@media screen and (max-width: 470px) {
    footer {
        height: 350px;
    }

    #form-height {
        height: 725px;
    }

    #logo {
        font-size: 250%;

    }

    .radio-text{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    form {
        font-size: 140%;
    }

    .thank-you {
        font-size: 140%;
        height: 115px;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 450px) {
    #cover-text {
        font-size: 110%;
        bottom: 160px;
    }

    #menu li {
        padding: 0.5rem;
        margin: 25px 3px;
    }
    .workshop-container {
        display: flex;
        flex-direction: column;
        height: 900px;
    }
}
